body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

header {
    padding: 0px;
    top: 0px;
    left: 0px;
    text-align: center;
}

#main {
    padding: 5px;
    display: flex;
    flex-direction: column;
    
}

hr {
    height: 1px;
    margin-left: -100px;
    margin-right: -100px;
    background-color: black;
}

section {
    width: 750px;
    margin: auto;
    justify-content: center;
}

section h2 {
    text-align: center;
}

